*{
    font-family: 'Karla', sans-serif;
    margin: 0px;
    padding: 0px;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}




header{
    position: relative;
    background-color: #fff;
    .header-logo{
        img{
            width: 100%;
        }
    }
    nav{
        ul{
            margin-bottom: 0px;
            li{
                      
                a{ 
                    display: block;
                    padding-bottom: 10px; 
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: #000;
                    i{
                        color: #000;
                        font-size: 12px;
                    }
                }    
                    
            }            
        }
    }
}

.home-banner{
    .banner1{
        position: relative;
        a{
            position: absolute;
            bottom: 142px;
            right: 600px;
            padding: 10px 20px;
            background-color:rgb(212, 139, 131);
            color: #fff;
        }
    }       
    .banner2{
        position: relative;
        a{
            position: absolute;
            top: 500;
            left: 85px;
            padding: 10px 20px;
            background-color:rgb(212, 139, 131);
            color: #fff;
        }
    }       
}

.today-product{
    margin-bottom: 100px;
    .today-product-heading{
        font-size: 26px;
        font-weight: 700;
    }   
    .today-product-img{
        img{
            width: 100%;
        }
    } 
    .today-product-details{
        margin-top: 100px;
        padding: 40px  0;
        h2{
            word-spacing: 4px;
            font-weight: 800;
            font-size: 24px;
        }
        span{   
            display: block;         
            margin-bottom: 15px;
            font-size: 20px;     
            i{
                font-size: 16px;
                font-weight: 300;
            }       
        }
        a{
            font-size: 14px;
            letter-spacing: 1px;
            color: #fff;
            display:inline-block;
            background-color: #da8f87;
            padding: 10px 39%;            
        }
        .active{
            border: 1px solid #eee;
        }
    }
    
}



.all-product{
    margin-top: 100px;
    h3{
        margin-bottom: 50px;
        font-size: 26px;
        font-weight: 700;
    }
    h4{
        font-weight: 700;
        margin-top: 20px;
        font-size: 18px;
    }
    span{
        margin-bottom: 50px;
        position: relative;
        &::after{
            position: absolute;
            top: 23px;
            left: 79px;
            width: 104px;
            content: '';
            height: 1px;
            background-color: #000;
        }
        i{
            font-size: 12px;
            font-weight: 300;
        }
    }
    img{
        width: 100%;
    }
    .see-all-product{
        margin-top: 100px;
        a{
            padding: 10px;
            background-color:#da8f87 ;
            color: #fff;
            text-decoration: underline;
        }
    }
}

.portfolio{
    margin: 150px 0;
    .portfolio-heading{
        h2{
            font-size: 26px;
            font-weight: 700;
        }
    }
    .portfolio-logo{
        img{            
            width: 100%;
        }      
    }
}


.shopping-catogery1{
    padding: 100px 0;
    background-color: #eee;
    h2{
        font-size: 26px;
        font-weight: 700;
    }
    .catogery{
        position: relative;
        img{
            width: 100%;
            
            
        }
        &::after{
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        a{
            position: absolute;
            z-index: 99;
            font-size: 24px;
            text-decoration: underline;
            top: 40%;
            left: 40%;
            color: #fff;
        }
    }
    .catogery4{
        a{
            top: 40%;
            left: 30%;
        }
    }

}


.quotes{
    background-color: #eee;
    padding: 0 0 100px 0;
    .quotes-img{
        img{
            width: 100%;
        }
    }
}


.shopping-catogery2{
    padding: 0 0 100px 0;
    background-color: #eee;    
    .catogery{
        position: relative;
        img{
            width: 100%; 
            height: 200px; 
        }
        &::after{
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        a{
            position: absolute;
            z-index: 99;
            font-size: 24px;
            text-decoration: underline;
            top: 40%;
            left: 30%;
            color: #fff;
        }
    }
    .catogery3{
        a{
            top: 40%;
            left: 20%;
        }
    }

}

.videos{
    margin-bottom: 100px;
    .video-wrapper{
        width: 100%;
        height: 500px;
        border: 1px solid #000;
        video{
            width: 100%;
        }
    }
}


.blogs{
    .heading{
        font-size: 26px;
        font-weight: 700;
    }
    .blog-content{
        h2{
            font-size: 20px;
            font-weight: 700;
        }
        span{
            color: #da8f87;
        }
        a{
            display: block;
            margin-bottom: 50px;
            position: relative;
            &::after{
                position: absolute;
                top: 23px;
                left: -1px;
                width: 85px;
                content: '';
                height: 1px;
                background-color: #000;
            }
        }
    }
    .all-blogs{
       a{
           display: inline-block;
           margin-bottom: 80px;
        padding: 10px;
        background-color: #da8f87;
        color: #fff;
       }
    }
}

footer{
    padding:3%;
    background-color: #2a353a;
    color: #fff;
    h2{
        font-size: 26px;
        font-weight: 700;

    }
    .footer-img1, .footer-img2{
        img{
            width: 100%;
        }
    }
    h3{
        margin-left: 100px;
    }
    .footer-nav{
        margin-left: 100px;
        ul{
            padding-left: 0px;
            li{
                text-align: left;
                a{
                    color: #fff;
                }
            }
        }
    }
}



.footer-newslatter{
    h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;  
    }
    input{
        width: 70%;
        height: 40px;
        padding-left: 10px;
        color: #000;
    }
    a{
        background-color: #da8f87;
        padding: 10px;
        color: #fff;
    }
    .footer-icons{
        margin-top: 25px;
        i{
            margin-right: 15px;
            font-size: 20px;
        }
    }
}









/*

.dropdown-page{
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 140px;
    left: 0px;
    background-color: #e9e5de;
    .dropdown-left{
        border: 1px solid #000;
        ul{
            li{
                a{
                    padding-bottom: 10px;
                    display: block;
                    padding-top: 10px;
                    color:#413b3b;
                }
            }
        }
    }
    .dropdown-right{
        border-left: 1px solid #000;
        border: 1px solid #000;
        h3{
            text-align: center;
            margin-top: 20px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        ul{
            margin-bottom: 40px;
            li{
                a{
                    display: block;
                    margin-top: 10px;
                    color:#413b3b;
                }
            }
        }
    }
}*/